Repository joshuaeliezer/keeperPayment, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-username, @backend-team, @qa-team, @devops-team

.github/CODEOWNERS:

# Code Owners
# Ces personnes seront automatiquement assignées aux PRs

# Tous les fichiers
* @your-username

# Backend spécifique
/src/ @backend-team

# Tests
/test/ @qa-team

# Configuration CI/CD
/.github/ @devops-team
*.yml @devops-team
*.yaml @devops-team

# Configuration de base
package.json @backend-team
package-lock.json @backend-team
tsconfig.json @backend-team
jest.config.js @backend-team

# Documentation
/docs/ @backend-team
README.md @backend-team

# Migrations de base de données
/src/migrations/ @backend-team
typeorm.config.ts @backend-team

Fix tests and remove webhook tests - all tests now passing
  CI-CD.md
  package-lock.json
  src/payments/dto/create-payment.dto.spec.ts
  src/payments/dto/create-payment.dto.ts
  src/payments/entities/payment.entity.ts
  src/payments/payments.controller.spec.ts
  src/payments/payments.controller.ts
  src/payments/payments.module.ts
  src/payments/payments.service.spec.ts
  src/payments/payments.service.ts
  src/stripe/dto/create-keeper-account.dto.ts
  src/stripe/stripe.module.ts
  src/stripe/stripe.service.spec.ts
  src/stripe/stripe.service.ts
  test/database-setup.ts
  test/mocks/stripe.mock.ts
  test/payments.e2e-spec.ts
  test/security/security-test.spec.ts
  test/test-setup.ts
Owners: @your-username, @backend-team, @qa-team

Fix CI issues: add format:check script, fix security vulnerabilities, update audit level to high
  package-lock.json
  package.json
  src/payments/payments.controller.ts
  src/payments/payments.service.spec.ts
Owners: @backend-team

Fix memory issues: add Node.js memory optimizations for deployment
  Dockerfile
  package.json
Owners: @your-username, @backend-team

Fix Jest async handles: add proper cleanup and force exit configuration
  package.json
  test/test-setup.ts
Owners: @backend-team, @qa-team

Improve test coverage: add health endpoint test, expand StripeService tests, adjust coverage thresholds
  package.json
  src/app.controller.spec.ts
  src/stripe/stripe.service.spec.ts
Owners: @backend-team

Fix CI coverage check: add Node.js script for cross-platform coverage validation with 60% threshold
  package.json
  scripts/check-coverage.js
Owners: @backend-team, @your-username

Trigger new CI run with updated coverage check
  README.md
Owners: @backend-team

fix coverage
  scripts/check-coverage.js
Owners: @your-username

fix coverage
  src/payments/payments.controller.spec.ts
  src/payments/payments.controller.ts
  src/payments/payments.service.spec.ts
  src/payments/payments.service.ts
  src/stripe/stripe.service.spec.ts
  src/stripe/stripe.service.ts
  t
  test/test-setup.ts
Owners: @backend-team, @your-username, @qa-team

fix cd
  src/app.module.ts
  test/app.e2e-spec.ts
  test/jest-e2e.json
  test/payments.e2e-spec.ts
  test/test-database.module.ts
Owners: @backend-team, @qa-team

fix cd
  src/app.module.ts
  src/payments/payments.controller.spec.ts
  test/app.e2e-spec.ts
  test/payments.e2e-spec.ts
  test/test-database.module.ts
Owners: @backend-team, @qa-team

fix cdV2
  src/app.module.ts
Owners: @backend-team

delete logs
  scripts/check-coverage.js
  src/payments/payments.service.ts
  test/test-setup.ts
Owners: @your-username, @backend-team, @qa-team

fix audit
  package-lock.json
  package.json
Owners: @backend-team

add docs
  README.md
  docs/CI-CD.md
  docs/DEPLOYMENT.md
  docs/QUICK_START.md
  docs/TESTING.md
  docs/docs.md
  docs/env.example
  docs/test-summary.md
Owners: @backend-team
